/*reset*/
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}
/*elemento root*/
:root{
    --atender:aqua;
    --claro:#ee8585;
    --mono:'Courier New', Courier, monospace;
}

span:first-child{
    text-decoration: underline;
    color: var(--atender);
}
body{
    background-color: var(--claro);
}
kbd{
    color: darkmagenta;
    font-family: var(--mono)
}